<%- include('include/header.ejs') %>
  <%- include('include/cta.ejs') %>

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <%- include('include/form.ejs') %>

          <div class="section-title">
            <h2>Gun List</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
              consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
              sit
              in iste officiis commodi quidem hic quas. Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint
              consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
              sit
              in iste officiis commodi quidem hic quas.</p>
          </div>

          <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <!-- If you want a new filter, simply add them here in the same format: data-filter = ".filter-YOUR_FILTER_HERE" 
        And then give the div class of the object that has that desired tag the following class: "filter-YOUR_FILTER_HERE"
        You can use multiple tags in the same product for filtering as well, following the same logic and adding the other class with the extra filter name-->

            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-auto">Auto</li>
            <li data-filter=".filter-semi">Semiauto</li>
            <li data-filter=".filter-manual">Manual</li>
          </ul>

          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200" id="gunList" name="gunList">
            <%
              var list = '';
              for (i = 0; i < gunlist.length; i++) 
              {
                list += '<div class="col-lg-4 col-md-6 portfolio-item filter-' + gunlist[i].type + '">' +
                  '<div class="portfolio-img"><img src="/img/portfolio/portfolio-' + gunlist[i].number + '.jpg" class="img-fluid" alt=""></div>' +
                  '<div class="portfolio-info">' +
                  '<h4>' + gunlist[i].name + '</h4>' +
                  '<p>' + gunlist[i].type + '</p>' +
                  '<a href="/img/portfolio/portfolio-' + gunlist[i].number + '.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="' + gunlist[i].name + '"><i class="bx bx-plus"></i></a>' +
                  '<a class="details-link" title="More Details" id="' + gunlist[i].number + '" onclick="showModal(this.id)"><i class="bx bx-link"></i></a>' +
                  '</div>' +
                  '</div>';
              }
            %>
            <%- list %>
          </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>

        <section id="portfolio-details" class="portfolio-details">
          <div class="container">

            <div class="row gy-4">

              <div class="col-lg-8">
                <div class="portfolio-details-slider swiper-container">
                  <div class="swiper-wrapper align-items-center">

                    <div class="swiper-slide">
                      <img src="" alt="" id="gunImage1">
                    </div>

                    <div class="swiper-slide">
                      <img src="" alt="" id="gunImage2">
                    </div>

                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="portfolio-info">
                  <h6 id="gunId">-1</h6>
                  <h3 id="gunName">Gun Name</h3>
                  <div class="col-lg-12 pb-3 text-center">
                    <button class="btn btn-primary" onclick="addCart()">Add to cart</button>
                  </div>
                  <ul id="gunInfo">
                    <li><strong>Weapon's mass</strong>: 10.5 kg (23.15 lb) </li>
                    <li><strong>Length</strong>: 1,105 mm (43.5 in) </li>
                    <li><strong>Barrel length</strong>: 560 mm (22.0 in) </li>
                    <li><strong>Cartridge</strong>: 7.62×51mm NATO </li>
                    <li><strong>Caliber</strong>: 7.62 mm (0.308 in) </li>
                    <li><strong>Action</strong>: Gas-operated, short-stroke gas piston, open bolt </li>
                    <li><strong>Rate of fire</strong>: 550–650 RPM </li>
                    <li><strong>Muzzle velocity</strong>: 2,800 ft/s (853 m/s) </li>
                    <li><strong>Effective firing range</strong>: 1,200 yd (1,100 m) </li>
                    <li><strong>Maximum firing range</strong>: 1,100 m </li>
                    <li><strong>Feed system</strong>: Disintegrating belt with M13 Links </li>
                    <li><strong>Sights</strong>: Iron sights </li>
                    <li><strong>Manufacturer</strong>: Saco Defense, U.S. Ordnance </li>
                    <li><strong>Buy directly</strong>: <a href="https://www.google.com">www.google.com</a></li>
                    <hr>
                  </ul>
                  <div class="col-lg-12 text-center">
                    <audio controls>
                      <source src="/audio/M_60_Machine_Gun_Sound_effect.mp3" type="audio/mpeg" id="gunSound">
                    </audio>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </section>

      </div>

    </div><!-- End Modal Div -->

    <!-- The Shopping Cart Modal -->
    <div id="myCart" class="modal">

      <!-- Shopping Cart content -->
      <div class="modal-content">
        <span class="close">&times;</span>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">Product</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Price</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Quantity</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Remove</div>
                </th>
              </tr>
            </thead>
            <tbody id="cartList">
            </tbody>
          </table>
        </div>

      </div><!-- End Shopping Cart Modal Div -->

      <%- include('include/footer.ejs') %>